/* Basic */

html, body {
    font-size: 14px;
    position: relative;
    min-height: 100%;
    padding: 0;
    margin: 0;
    background-color: #1e1e1e;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

/* Header */

.bon-header {
    text-align: center;
    color: #fafafa;
    background-color: #008bc3;
}

@media (min-width: 768px) {
    .bon-header {
        padding-right: 100px;
    }
}

.bon-header a {
    color: #fafafa;
}

    .bon-header a:hover {
        color: #f0f0f0;
        text-decoration: none;
    }

/* Main */

.bon-page-wrapper {
    background-color: #008bc3;
    padding: 30px 0;
}

    .bon-page-wrapper.bon-result-unavailable {
        padding: 25vh 0;
    }

.bon-main {
}

/* Footer */

.bon-footer {
    font-size: 0.85em;
    text-align: left;
    color: #fafafa;
    margin: 0;
    padding: 30px 0;
}

    .bon-footer a {
        color: #fafafa;
        text-decoration: underline;
    }

        .bon-footer a:hover {
            color: #f0f0f0;
        }

.bon-footer-sitename {
    margin-top: 20px;
    text-align: center;
}

.bon-footer-xkcd-wrapper {
    text-align: center;
}

.bon-footer-xkcd {
    max-width: 200px;
}

/* Form */
.bon-form-wrapper {
    background-color: #006b95;
    margin: 30px 0;
    padding: 30px 10px;
}

/* Samples */

.bon-samples {
    padding-top: 10px;
    font-size: 0.9em;
    text-align: center;
}

.bon-samples-title {
    color: #fafafa;
    font-weight: bold;
    display: block;
}

@media (min-width: 768px) {
    .bon-samples {
        text-align: center;
        padding-right: 70px;
    }

    .bon-samples-title {
        display: inline;
    }
}

.bon-samples a {
    margin-left: 15px;
    color: #fafafa;
    text-decoration: underline;
}

    .bon-samples a:hover {
        color: #f0f0f0;
    }

/* Result */

.bon-result-title {
    text-align: center;
    color: #fafafa;
}

.bon-result-share {
    padding: 20px 0;
    text-align: center;
    height: 73px;
}

.bon-result-card-image-wrapper {
    position: relative;
}

.bon-result-image-rectangle {
    border: 2px solid #f85555;
    position: absolute;
}

    .bon-result-image-rectangle span {
        background-color: #f85555;
        padding: 3px 7px;
        color: #fafafa;
        position: absolute;
        bottom: -28px;
        right: 0;
        display: block;
        text-transform: uppercase;
    }

    .bon-result-image-rectangle:hover, .bon-result-image-rectangle-selected {
        border: 2px solid #fafafa;
    }

        .bon-result-image-rectangle:hover span, .bon-result-image-rectangle-selected span {
            background-color: #fafafa;
            color: #000;
        }

.bon-result-feedback {
    color: #fafafa;
    margin-top: 30px;
    text-align: center;
}

.bon-result-cards {
}

.bon-result-card-image {
    padding: 10px;
}

.bon-result-card-text {
    padding: 10px;
}

    .bon-result-card-text .card .card-body {
        padding-bottom: 0;
    }

/* Misc */
.card, form {
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
}
